
<div class="black-background animated jello" [ngClass]="_modalService.selectHidden">
  <div class="modal" style="display: block;" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title | titlecase }} - click to select</h5>
          <button (click)="hideModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" align="center">
          <app-search-input [placeholder]="'Search ' + title" (outPutTerm)="searchCollection($event)"></app-search-input>
          <app-loading [loading]="loading"></app-loading>
          <div>
              <button (click)="paginate(-5)" class="btn btn-secondary">
                  Previous
              </button>
              <button (click)="paginate(5)" class="btn btn-secondary">
                  Next
              </button>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let document of collection">
                <td (click)="selectDocument(document)" class="pointer">{{ document.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button (click)="hideModal()" type="button" class="btn btn-secondary">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

