<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Doctor: {{ doctor.name }} </h3>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <form #form="ngForm" ngNativeValidate (ngSubmit)="saveDoctor(form)">
              <div class="form-group">
                  <label for="name">Doctor's Name</label>
                  <input [(ngModel)]="doctor.name" name="name" type="text" class="form-control" placeholder="Doctor's name" required>
              </div>
              <div class="form-group">
                  <button type="button" (click)="showHospitalsModal()">Select hospital</button>
                  <!-- <label for="Hospital">Hospital</label>
                  <select (change)="setHospital($event.target.value)" [(ngModel)]="doctor.hospital" name="hospital" id="" class="form-control" required>
                    <option value="">Select hospital</option>
                    <option *ngFor="let hospital of hospitals" [value]="hospital._id">{{ hospital.name }}</option>
                  </select> -->
                  <!-- <p>
                    Hospital name
                  </p> -->
              </div>
              <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                <i class="fa fa-save"></i>
                Submit</button>
              <a [routerLink]="['/doctors']" routerLinkActive="router-link-active"  class="btn btn-inverse waves-effect waves-light">Cancel</a>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Hospital</h3>
      <img [src]="hospital.img | image:'hospitals'" class="rounded img-fluid">
    </div>
  </div>
  <div class="col-md-3" *ngIf="doctor._id">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Doctor image </h3> 
      <img (click)="showUploadModal()" [src]="doctor.img | image:'doctors'" class="img-circle img-fluid pointer">
    </div>
  </div>
</div>