
<div class="black-background animated jello" [ngClass]="_uploadModalService.hidden">
  <div class="modal" style="display: block;" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button (click)="hideModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" align="center">
          
          <img *ngIf="!tempFile" [src]="'xxx' | image" class="w150">
          <img *ngIf="tempFile" [src]="tempFile" class="w150">

          <input (change)="chooseFile($event.target.files[0])" id="image" type="file">
        </div>
        <div class="modal-footer">
          <button (click)="hideModal()" type="button" class="btn btn-secondary">Close</button>
          <button [disabled]="!tempFile" (click)="uploadFile()" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

